<section class="px-[10%] py-8">
    <h1 class="mb-6 text-3xl font-bold text-center">I will be happy to work with you.</h1>
    <div class="grid grid-cols-1 gap-8 md:grid-cols-3">
        <!-- Boîte 1 -->
        <div class="relative flex items-center justify-center p-4 rounded-lg bg-bgRouge">
            <img src="../assets/img/PhotoProfil.jpeg" alt="photo de profil" class="w-24 h-24 border-4 border-white rounded-full">
            <img src="../assets/img/gmail_logo.png" alt="logo gmail" class="absolute bottom-0 right-0 w-8 h-8 border-2 border-white rounded-full">
            <p class="absolute bottom-0 right-0 mb-12 mr-12 text-white">maxime.pospieszynski&#64;gmail.com</p>
        </div>
        <!-- Boîte 2 -->
        <div class="relative flex items-center justify-center p-4 rounded-lg bg-bgRouge">
            <img src="../assets/img/PhotoProfil.jpeg" alt="photo de profil" class="w-24 h-24 border-4 border-white rounded-full">
            <img src="../assets/img/linkedin_icon.png" alt="logo linkedin" class="absolute bottom-0 right-0 w-8 h-8 border-2 border-white rounded-full">
            <p class="absolute bottom-0 right-0 mb-12 mr-12 text-white">Maxime</p>
        </div>
        <!-- Boîte 3 -->
        <div class="relative flex items-center justify-center p-4 rounded-lg bg-bgRouge">
            <img src="../assets/img/PhotoProfil.jpeg" alt="photo de profil" class="w-24 h-24 border-4 border-white rounded-full">
            <img src="../assets/img/twitter_icon.png" alt="logo twitter" class="absolute bottom-0 right-0 w-8 h-8 border-2 border-white rounded-full">
            <p class="absolute bottom-0 right-0 mb-12 mr-12 text-white">&#64;Maxime_Pops</p>
        </div>
    </div>
</section>

<footer class="bg-bgRouge">
    <p>&#64;Copywrite 2024 Maxime Pospieszynski</p>
</footer>