<section class="px-[10%] py-8">
  <h1 class="mb-6 text-5xl font-bold">Contact me</h1>
  <p>I will be happy to work with you.</p>
  <div class="grid grid-cols-1 gap-8 mt-8 large:grid-cols-3">
    <mat-card
      class="relative w-full p-6 rounded-lg md:w-96 btn_custom m:mt-4"
      appearance="outlined"
    >
      <div class="flex items-center">
        <div class="relative">
          <img
            mat-card-image
            src="../assets/img/PhotoProfil.jpeg"
            alt="photo of profile"
            class="w-12 h-12 border-2 rounded-full border-h1Rouge"
          />
          <img
            src="../assets/img/gmail_logo.png"
            alt="logo gmail"
            class="absolute bottom-0 right-0 w-4 h-4 border-2 rounded-full border-h1Rouge"
          />
        </div>
        <div class="flex flex-col ml-4">
          <mat-card-title class="text-h1Rouge"
            >maxime.pospieszynski&#64;epitech.eu</mat-card-title
          >
          <mat-card-subtitle class="text-sm italic font-normal"
            >You can contact me via Email.</mat-card-subtitle
          >
        </div>
      </div>
      <div class="absolute bottom-4 right-4 m:pt-8">
        <a
          href="mailto:maxime.pospieszynski@epitech.eu"
          class="flex items-center text-h1Rouge"
          target="_blank"
        >
          <img
            src="../assets/img/next.png"
            alt="arrow icon"
            class="w-4 h-4 mr-1 bg-h1Rouge"
          />
        </a>
      </div>
    </mat-card>

    <mat-card
      class="relative w-full p-6 rounded-lg md:w-96 btn_custom m:mt-4"
      appearance="outlined"
    >
      <div class="flex items-center">
        <div class="relative">
          <img
            mat-card-image
            src="../assets/img/PhotoProfil.jpeg"
            alt="photo de profil"
            class="w-12 h-12 border-2 rounded-full border-h1Rouge"
          />
          <img
            src="../assets/img/linkedin_icon.png"
            alt="logo linkedin"
            class="absolute bottom-0 right-0 w-4 h-4 border-2 rounded-full border-h1Rouge"
          />
        </div>
        <div class="flex flex-col ml-4">
          <mat-card-title class="text-h1Rouge"
            >Maxime Pospieszynski</mat-card-title
          >
          <mat-card-subtitle class="text-sm italic font-normal"
            >You can contact me on LinkedIn.</mat-card-subtitle
          >
        </div>
      </div>
      <div class="absolute bottom-4 right-4 m:pt-8">
        <a
          href="https://www.linkedin.com/in/maxime-pospieszynski-85655032b/"
          class="flex items-center text-h1Rouge"
          target="_blank"
        >
          <img
            src="../assets/img/next.png"
            alt="arrow icon"
            class="w-4 h-4 mr-1 bg-h1Rouge"
          />
        </a>
      </div>
    </mat-card>

    <mat-card
      class="relative w-full p-6 rounded-lg md:w-96 btn_custom m:mt-4"
      appearance="outlined"
    >
      <div class="flex items-center">
        <div class="relative">
          <img
            mat-card-image
            src="../assets/img/PhotoProfil.jpeg"
            alt="photo de profil"
            class="w-12 h-12 border-2 rounded-full border-h1Rouge"
          />
          <img
            src="../assets/img/twitter_icon.png"
            alt="logo twitter"
            class="absolute bottom-0 right-0 w-4 h-4 border-2 rounded-full border-h1Rouge"
          />
        </div>
        <div class="flex flex-col ml-4">
          <mat-card-title class="text-h1Rouge">&#64;Maxime_Pops</mat-card-title>
          <mat-card-subtitle class="text-sm italic font-normal"
            >You can contact me on Twitter.</mat-card-subtitle
          >
        </div>
      </div>
      <div class="absolute bottom-4 right-4">
        <a
          href="https://twitter.com/Maxime_Pops"
          class="flex items-center text-h1Rouge"
          target="_blank"
        >
          <img
            src="../assets/img/next.png"
            alt="arrow icon"
            class="w-4 h-4 mr-1 bg-h1Rouge"
          />
        </a>
      </div>
    </mat-card>
  </div>
</section>

<footer class="py-8 text-center bg-bgRouge">
  <p>&#64;Copywrite 2024 Maxime Pospieszynski</p>
</footer>
