<section class="px-[10%] py-8">
    <h1 class="mb-6 text-5xl font-bold">Projects</h1>
    <div class="flex justify-between w-full gap-4">
        <!-- Boîte de projet 1 -->
        <div class="max-w-sm p-4 space-y-2 text-white border rounded-lg shadow-lg border-borderRouge bg-bgRouge">
            <h3 class="text-2xl font-semibold">Restaurant Website</h3>
            <p>HTML CSS restaurant website to learn to code</p>
            <img src="" alt="Image du projet" class="w-full rounded-lg">
        </div>
        <!-- Boîte de projet 2 -->
        <div class="max-w-sm p-4 space-y-2 text-white border rounded-lg shadow-lg border-borderRouge bg-bgRouge">
            <h3 class="text-2xl font-semibold">DoubleK</h3>
            <p>Projet de site web avec fonctionnalités étendues.</p>
            <img src="" alt="Image du projet" class="w-full rounded-lg">
        </div>
        <!-- Boîte de projet 3 -->
        <div class="max-w-sm p-4 space-y-2 text-white border rounded-lg shadow-lg border-borderRouge bg-bgRouge">
            <h3 class="text-2xl font-semibold">E-commerce Website</h3>
            <p>Site web de commerce électronique avec une intégration backend.</p>
            <img src="" alt="Image du projet" class="w-full rounded-lg">
        </div>
    </div>
</section>
