<section class="px-[10%] py-8">
  <h1 class="mb-12 text-5xl font-bold">Projects</h1>
  <div
    class="gap-4 my-4 normal:flex normal:justify-between 3xl:w-full normal:w-80 petit:block"
  >
    <mat-card
      class="relative p-6 my-4 transition-transform transform rounded-lg shadow-lg w-96 btn_custom hover:scale-105"
      appearance="outlined"
    >
      <mat-card-header>
        <mat-card-title class="mb-4 text-3xl font-bold text-h1Rouge">
          Restaurant
        </mat-card-title>
      </mat-card-header>
      <img
        mat-card-image
        src="../assets/img/Restaurant.Project.png"
        alt="photo of restaurant website"
        class="rounded-lg w-80"
      />
      <mat-card-content>
        <p class="mt-4 mb-4 text-base text-h1Rouge fontArtifica">
          HTML CSS/SASS restaurant website to learn to code. This is a static
          website.
        </p>
      </mat-card-content>
      <mat-card-actions class="flex justify-end">
        <button mat-button class="text-h1Rouge hover:text-bgButton">
          <a
            href="https://github.com/MaximePospieszynski/site-restaurant-sass"
            target="_blank"
            >Click here to see more ..</a
          >
        </button>
      </mat-card-actions>
    </mat-card>

    <mat-card
      class="relative p-6 mx-12 my-4 transition-transform transform rounded-lg shadow-lg w-96 btn_custom hover:scale-105"
      appearance="outlined"
    >
      <mat-card-header>
        <mat-card-title class="mb-4 text-3xl font-bold text-h1Rouge">
          DoubleK
        </mat-card-title>
      </mat-card-header>
      <img
        mat-card-image
        src="../assets/img/DoubleK.Project.png"
        alt="photo of doubleK app"
        class="rounded-lg w-80"
      />
      <mat-card-content>
        <p class="mt-4 mb-4 text-base text-h1Rouge fontArtifica">
          First project to learn Angular/Tailwind. With a local database and
          some features.
        </p>
      </mat-card-content>
      <mat-card-actions class="flex justify-end">
        <button mat-button class="text-h1Rouge hover:text-bgButton">
          <a
            href="https://github.com/AurelienPospieszynski/doubleK"
            target="_blank"
            >Click here to see more ..</a
          >
        </button>
      </mat-card-actions>
    </mat-card>

    <mat-card
      class="relative p-6 my-4 transition-transform transform rounded-lg shadow-lg w-96 btn_custom hover:scale-105"
      appearance="outlined"
    >
      <mat-card-header>
        <mat-card-title class="mb-4 text-3xl font-bold text-h1Rouge">
          TodoList
        </mat-card-title>
      </mat-card-header>
      <img
        mat-card-image
        src="../assets/img/JavaScript.Project.png"
        alt="photo of JavaScript project"
        class="rounded-lg w-80"
      />
      <mat-card-content>
        <p class="mt-4 mb-4 text-base text-h1Rouge fontArtifica">
          Little JavaScript project that helped me to learn some basics in JS.
          Bigger project is coming...
        </p>
      </mat-card-content>
      <mat-card-actions class="flex justify-end">
        <button mat-button class="text-h1Rouge hover:text-bgButton">
          <a
            href="https://github.com/MaximePospieszynski/first-javascript-project"
            target="_blank"
            >Click here to see more ..</a
          >
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</section>
