<section class="px-[10%] py-8">
    <h1 class="mb-6 text-5xl font-bold">Skills</h1>
    <p class="mb-8 text-lg">I love working on...</p>
    <div class="grid grid-cols-1 gap-8 md:grid-cols-3">
        <!-- Boîte de Skill 1 -->
        <div class="p-4">
            <img src="../assets/img/html5_.png" alt="logo techno" class="w-16 h-16 mb-4">
            <h3 class="text-xl font-semibold text-left">HTML</h3>
            <p class="mt-2 text-left">Langage de balisage utilisé pour structurer le contenu web.</p>
        </div>
        <!-- Boîte de Skill 2 -->
        <div class="p-4">
            <img src="../assets/img/CSS_logo.png" alt="logo techno" class="w-16 h-16 mb-4">
            <h3 class="text-xl font-semibold text-left">CSS</h3>
            <p class="mt-2 text-left">Langage de style utilisé pour rendre le web plus esthétique.</p>
        </div>
        <!-- Boîte de Skill 3 -->
        <div class="p-4">
            <img src="../assets/img/javascript_logo_icon.png" alt="logo techno" class="w-16 h-16 mb-4">
            <h3 class="text-xl font-semibold text-left">JavaScript</h3>
            <p class="mt-2 text-left">Langage de programmation permettant de rendre les pages web interactives.</p>
        </div>
        <!-- Boîte de Skill 4 -->
        <div class="p-4">
            <img src="../assets/img/angular_icon.png" alt="logo techno" class="w-16 h-16 mb-4">
            <h3 class="text-xl font-semibold text-left">Angular</h3>
            <p class="mt-2 text-left">Framework pour créer des applications web dynamiques.</p>
        </div>
        <!-- Boîte de Skill 5 -->
        <div class="p-4">
            <img src="../assets/img/tailwind_logo_icon.png" alt="logo techno" class="w-16 h-16 mb-4">
            <h3 class="text-xl font-semibold text-left">Tailwind CSS</h3>
            <p class="mt-2 text-left">Framework CSS utilitaire pour un design rapide et flexible.</p>
        </div>
        <!-- Boîte de Skill 6 -->
        <div class="p-4">
            <img src="../assets/img/postgresql_logo_icon_144971.png" alt="logo techno" class="w-16 h-16 mb-4">
            <h3 class="text-xl font-semibold text-left">PostgreSQL</h3>
            <p class="mt-2 text-left">Système de gestion de base de données relationnelle puissant et open source.</p>
        </div>
    </div>
</section>
