<header class="flex justify-between items-center py-7 px-[10%] border-b border-borderRouge">
    <a href="#" class="text-2xl font-semibold">Portfolio</a>

    <nav class="space-x-9">
        <a href="#" class="text-2xl font-medium transition duration-200">Home</a>
        <a href="#" class="text-2xl font-medium transition duration-200">Projects</a>
        <a href="#" class="text-2xl font-medium transition duration-200">Courses</a>
        <a href="#" class="text-2xl font-medium transition duration-200">Skills</a>
        <a href="#" class="text-2xl font-medium transition duration-200">Contact</a>
    </nav>
</header>

