<section class="px-[10%] py-8">
  <h1 class="mb-6 text-5xl font-bold">Skills</h1>
  <p class="mb-8 text-lg">I love working on...</p>
  <div class="grid grid-cols-1 gap-8 md:grid-cols-3">
    <div>
      <img
        src="../../../assets/img/html5_.png"
        alt="logo techno"
        class="w-16 h-16 mb-4 bg-h1Rouge"
      />
      <h3 class="text-xl font-semibold text-left">HTML</h3>
      <p class="mt-2 text-left">
        Languague to create web content,
        <button class="btn_custom">HTML</button>
        helped me to learn web.
      </p>
    </div>

    <div>
      <img
        src="../assets/img/CSS_logo.png"
        alt="logo techno"
        class="w-16 h-16 mb-4 bg-h1Rouge"
      />
      <h3 class="text-xl font-semibold text-left">CSS</h3>
      <p class="mt-2 text-left">
        Most useful style language. I can create beautiful application with
        <button class="btn_custom">CSS</button>.
      </p>
    </div>

    <div>
      <img
        src="../assets/img/javascript_logo_icon.png"
        alt="logo techno"
        class="w-16 h-16 mb-4 bg-h1Rouge"
      />
      <h3 class="text-xl font-semibold text-left">JavaScript</h3>
      <p class="mt-2 text-left">
        I can create dynamic and interactive webapp with
        <button class="btn_custom">JS</button>.
      </p>
    </div>

    <div>
      <img
        src="../assets/img/angular_icon.png"
        alt="logo techno"
        class="w-16 h-16 mb-4 bg-h1Rouge"
      />
      <h3 class="text-xl font-semibold text-left">Angular</h3>
      <p class="mt-2 text-left">
        My main <button class="btn_custom">Frontend</button> framework is
        <button class="btn_custom">Angular</button> to create dynamic web app.
      </p>
    </div>

    <div>
      <img
        src="../assets/img/tailwind_logo_icon.png"
        alt="logo techno"
        class="w-16 h-16 mb-4 bg-h1Rouge"
      />
      <h3 class="text-xl font-semibold text-left">Tailwind CSS</h3>
      <p class="mt-2 text-left">
        My main <button class="btn_custom">CSS</button> framework is
        <button class="btn_custom">Tailwind</button>to create faster style.
      </p>
    </div>

    <div>
      <img
        src="../assets/img/postgresql_logo_icon_144971.png"
        alt="logo techno"
        class="w-16 h-16 mb-4 bg-h1Rouge"
      />
      <h3 class="text-xl font-semibold text-left">PostgreSQL</h3>
      <p class="mt-2 text-left">
        I can work with relational databases with
        <button class="btn_custom">SQL</button> request.
      </p>
    </div>
  </div>
</section>
