<section class="grid grid-cols-2 gap-4 px-[10%] mt-64">
    <div class="space-y-4">
        <h1 class="text-5xl font-bold">Maxime Pospieszynski</h1>
        <h3 class="flex text-2xl font-bold"> 
           Full Stack Developer, 
        <p class="ml-2">Student at Epitech</p>
        </h3> 
        <button class="px-4 py-2 text-lg font-semibold transition duration-200 border rounded-md bg-bgButton text-h1Rouge border-borderButton hover:bg-transparent hover:text-h1Rouge">GitHub</button>
        <button class="px-4 py-2 text-lg font-semibold transition duration-200 bg-transparent border rounded-md text-h1Rouge border-borderButton hover:bg-bgButton hover:text-black">Linkedin</button>        
        <button class="px-4 py-2 text-lg font-semibold transition duration-200 border rounded-md bg-bgButton text-h1Rouge border-borderButton hover:bg-transparent hover:text-h1Rouge">Twitter</button>
    </div>
    <div class="flex justify-center">
        <div class="h-48 w-48 max-w-[20rem] rounded-full overflow-hidden">
            <img class="object-cover w-full h-full" src="../assets/img/PhotoProfil.jpeg" alt="photoPortfolio">
        </div>
    </div>
</section>