<section class="3xl:grid 3xl:grid-cols-2 gap-4 px-[10%] h-screen petit:block">
  <div class="mt-64 space-y-4">
    <h1 class="mb-12 text-5xl font-bold">Maxime Pospieszynski</h1>
    <div class="flex">
      <h3 class="flex text-2xl font-bold">JUNIOR WEB DEVELOPER,</h3>
      <p class="flex text-2xl font-bold">
        Aiming to become a full stack developer
      </p>
    </div>
    <p class="text-xl italic font-bold">
      Looking for an intership during the following period: January 2025-August
      2027
    </p>
    <div class="flex items-center justify-start pt-4 space-x-4">
      <a
        target="_blank"
        href="https://github.com/MaximePospieszynski"
        class="px-4 py-2 text-lg font-semibold transition duration-200 border rounded-md bg-bgButton text-h1Rouge border-borderButton hover:bg-transparent hover:text-h1Rouge"
      >
        GitHub
      </a>
      <a
        target="_blank"
        href="https://www.linkedin.com/in/maxime-pospieszynski-85655032b/"
        class="px-4 py-2 text-lg font-semibold transition duration-200 bg-transparent border rounded-md text-h1Rouge border-borderButton hover:bg-bgButton hover:text-black"
      >
        Linkedin
      </a>
      <a
        target="_blank"
        href="https://x.com/Maxime_Pops"
        class="px-4 py-2 text-lg font-semibold transition duration-200 border rounded-md bg-bgButton text-h1Rouge border-borderButton hover:bg-transparent hover:text-h1Rouge"
      >
        Twitter
      </a>
    </div>
  </div>
  <div class="flex justify-center">
    <div
      class="3xl:h-72 3xl:w-72 max-w-[20rem] rounded-full overflow-hidden 3xl:mt-64 petit:mt-12 petit:h-48 petit:w-48"
    >
      <img
        class="object-cover w-full h-full"
        src="../assets/img/PhotoProfil.jpeg"
        alt="photoPortfolio"
      />
    </div>
  </div>
</section>
